.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  
  .dashboard h2 {
    margin-bottom: 20px;
    color: #2975d6; /* Blue color for the heading */
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #0056b3;
  }
  
  .new-payment-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .new-payment-button:hover {
    background-color: #0056b3;
  }
  